services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: drive-server
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - ./backend/.env
    restart: unless-stopped
