version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: drive-server
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: unless-stopped
